@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
/*
--------------------------------------------
            CSS Reset
--------------------------------------------
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  outline: none;
}

/*-------------------------------------
            Document
            ----------------------*/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*-------------------------
            Section
            ---------------------*/
/* Remove the margin in all browser */
body {
  margin: 0;
}

/*
    Add the correct display in IE 9-
    */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/*Grouping content*/
/*Add the correct display in IE*/
figcaption,
figure,
main {
  display: block;
}

/* Add the correct margin in IE 8*/
figure {
  margin: 1rem 40px;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* Remove the outline on focused links when they are also active or hovered in all browser(optionated)*/
a:active,
a:hover {
  outline-width: 0;
}

/* Remove the border on images inside linek IE 10-*/
img {
  border-style: none;
}

/* Form*/
button,
input {
  overflow: visible;
}

/* Remove the inheritence of text transform in Edge, Firefox, and IE.*/
button,
select {
  text-transform: none;
}

/* 1.Prevent a webkit bug where (2) destroys native 'audio' and 'video' controls in Andriod 4.
        2.Correct the inablility to style clickable types in ios and Safari.*/
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearence: button;
}

/*Remove the inner border and padding in firefox*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Restore the focus styles unset by the previous rule*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 50%;
}

@media screen and (min-width: 34.5625em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (min-width: 56.3125em) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 87.5625em) {
  html {
    font-size: 75%;
  }
}

body {
  background-color: #f5f5f5;
  color: #0a151f;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  transition: all 0.3s ease-out;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

a,
i,
span {
  display: inline-block;
}

i {
  color: #ed701d;
  transition: color 0.3s ease-out;
}

a {
  color: #ed701d;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

a:hover {
  color: #833d04;
}

li {
  list-style: none;
}

.container-log-reg {
  background-color: #003391;
  width: 100%;
  height: 170vh;
  display: flex;
  justify-content: space-between;
}

.container-log-reg .sidepage {
  color: #ffffff;
  margin: auto;
}

.container-log-reg .imgcontainer {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

p {
  margin: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: inherit;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 0.8rem;
}

.section-heading {
  margin-bottom: 5rem -1.5rem;
  position: relative;
}

.section-heading .intro-bg {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4rem;
  opacity: 0.06;
}

@media screen and (min-width: 34.5625em) {
  .section-heading .intro-bg {
    font-size: 6.5rem;
  }
}

@media screen and (min-width: 56.3125em) {
  .section-heading .intro-bg {
    font-size: 8rem;
  }
}

.section-heading h2 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 34.5625em) {
  .container {
    width: 85%;
  }
}

@media screen and (min-width: 56.3125em) {
  .container {
    max-width: 123.3rem;
  }
}

@media screen and (min-width: 87.5625em) {
  .container {
    max-width: 130rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row [class*="flex-"] {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 0em) {
  .row .flex-sm-1,
  .row .flex-sm-2,
  .row .flex-sm-3,
  .row .flex-sm-4,
  .row .flex-sm-5,
  .row .flex-sm-6,
  .row .flex-sm-7,
  .row .flex-sm-8,
  .row .flex-sm-9,
  .row .flex-sm-10,
  .row .flex-sm-11,
  .row .flex-sm-12 {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
}

@media screen and (min-width: 0em) {
  .row .flex-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-1,
  .row .flex-md-2,
  .row .flex-md-3,
  .row .flex-md-4,
  .row .flex-md-5,
  .row .flex-md-6,
  .row .flex-md-7,
  .row .flex-md-8,
  .row .flex-md-9,
  .row .flex-md-10,
  .row .flex-md-11,
  .row .flex-md-12 {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .flex-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-1,
  .row .flex-lg-2,
  .row .flex-lg-3,
  .row .flex-lg-4,
  .row .flex-lg-5,
  .row .flex-lg-6,
  .row .flex-lg-7,
  .row .flex-lg-8,
  .row .flex-lg-9,
  .row .flex-lg-10,
  .row .flex-lg-11,
  .row .flex-lg-12 {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
}

@media screen and (min-width: 56.3125em) {
  .row .flex-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-1,
  .row .flex-xl-2,
  .row .flex-xl-3,
  .row .flex-xl-4,
  .row .flex-xl-5,
  .row .flex-xl-6,
  .row .flex-xl-7,
  .row .flex-xl-8,
  .row .flex-xl-9,
  .row .flex-xl-10,
  .row .flex-xl-11,
  .row .flex-xl-12 {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
}

@media screen and (min-width: 87.5625em) {
  .row .flex-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 0em) {
  .row .hide-on-sm {
    display: none;
  }
}

@media screen and (min-width: 34.5625em) {
  .row .show-on-md {
    display: inline-block;
  }
}

@media screen and (min-width: 56.3125em) {
  .hide-on-lg {
    display: none;
  }
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease-out;
}

.header.is-scrolled {
  background-color: #0a151f;
}

.header.is-scrolled .header_nav {
  border-bottom-color: transparent;
}

.header__nav {
  border-bottom: 0.2rem solid #f5f5f5;
  position: relative;
  transition: all 0.3s ease-out;
}

.header__menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2rem 0;
}

.header__menu button {
  background-color: transparent;
  border: 0;
}

.header__menu--toggler {
  position: relative;
  width: 4.5rem;
  height: 4rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

@media screen and (min-width: 34.5625em) {
  .header__menu--toggler {
    margin-right: 1.2rem;
  }
}

.header__menu--toggler:hover .line:nth-child(1) {
  top: 1.2rem;
}

.header__menu--toggler:hover .line:nth-child(2) {
  transform: translate(100%, -50%);
}

.header__menu--toggler:hover .line:nth-child(3) {
  bottom: 1.2rem;
}

@media screen and (min-width: 56.3125em) {
  .header__menu--toggler.active {
    transform: rotate(45deg);
  }
  .header__menu--toggler.active .line:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .header__menu--toggler.active .line:nth-child(2) {
    transform: translate(100%, -50%);
  }
  .header__menu--toggler.active .line:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.header__menu--toggler .line {
  position: absolute;
  width: 95%;
  height: 0.35rem;
  background-color: #f5f5f5;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-out;
}

.header__menu--toggler .line:nth-child(1) {
  top: 0.75rem;
}

.header__menu--toggler .line:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__menu--toggler .line:nth-child(3) {
  bottom: 0.75rem;
}

.header__menu span {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #f5f5f5;
}

.header__logo {
  padding: 2rem 0;
  text-align: center;
}

.header__logo a {
  width: 20%;
  height: 4rem;
}

.header__extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  cursor: pointer;
}

.header__extra .search,
.header__extra .profile,
.header__extra .cart {
  margin-left: auto;
}

.header__extra .icon {
  position: relative;
  text-align: right;
}

.header__extra .icon:hover {
  animation: bounceOnce 0.5s ease-in-out forwards;
}

.header__extra .icon i {
  font-size: 2rem;
  color: #f5f5f5;
}

.header__extra .icon span {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 0.4rem;
  right: 0;
  background-color: #ed701d;
}

.header .megamenu {
  position: fixed;
  width: 85%;
  top: 0;
  left: 0;
  height: 100%;
  padding: 6rem 0 4rem;
  overflow-y: auto;
  background-color: #ffffff;
  z-index: 200;
  transform: translateX(-100%);
  box-shadow: 0 0.12rem 1.4rem rgba(0, 0, 0, 0.28);
  transition: all 0.3s ease-out;
}

.header .megamenu.active {
  transform: translateX(0);
}

.header .megamenu .close-megamenu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4.5rem;
  cursor: pointer;
}

@media screen and (min-width: 56.3125em) {
  .header .megamenu {
    position: absolute;
    width: 100%;
    top: 102%;
    height: auto;
    max-height: 40rem;
    box-shadow: none;
    padding: 2rem 0;
    opacity: 0;
    visibility: hidden;
    transform: perspective(100rem) translateX(0) rotateX(-25deg);
    transform-origin: center center;
  }
  .header .megamenu.active {
    opacity: 1;
    visibility: visible;
    transform: perspective(100rem) translateX(0) rotateX(0);
  }
}

.header .megamenu ul h3 {
  margin-bottom: 2rem;
}

.header .megamenu ul li a {
  color: #0a151f;
  display: block;
  font-size: 1.6rem;
}

.header .megamenu ul li a:hover {
  color: #833d04;
}

.header .megamenu ul li {
  margin-bottom: 1rem;
}

@keyframes bounceOnce {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown img {
  width: 25px;
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 160px;
  overflow: auto;
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
}

.show {
  display: block;
}

footer {
  background-color: #0a151f;
  padding: 2rem 1rem;
  color: #ffffff;
  height: auto;
  width: 100%;
}

footer .footer-distributed {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 50px 50px 6px 50px;
  margin-top: 80px;
}

footer .footer-distributed__footer-left, footer .footer-distributed__footer-center, footer .footer-distributed__footer-right {
  display: inline-block;
  vertical-align: top;
}

footer .footer-distributed__footer-left {
  width: 30%;
}

footer .footer-distributed__footer-left img {
  width: 30%;
}

footer .footer-distributed__footer-left .footer-links a {
  display: inline-block;
  line-height: 1.8;
}

footer .footer-distributed__footer-company-name {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

footer .footer-distributed__footer-center {
  width: 35%;
}

footer .footer-distributed__footer-center i {
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

footer .footer-distributed__footer-center p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

footer .footer-distributed__footer-right {
  width: 30%;
}

footer .footer-distributed__footer-right .footer-company-about {
  line-height: 20px;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

footer .footer-distributed__footer-right .footer-company-about span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .footer-distributed__footer-right .footer-icons i {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.button,
button[type="submit"] {
  cursor: pointer;
  border: 0.1rem solid #ed701d;
  padding: 2rem 6rem;
  background-color: #ed701d;
  color: #ffffff;
  outline: none;
  border: 0;
  border-radius: 0.4rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}

.button i,
button[type="submit"] i {
  color: #f5f5f5;
  margin-left: 2rem;
}

.button.button--default,
button[type="submit"].button--default {
  background-color: #ed701d;
  color: #f5f5f5;
  border-bottom: 0.3rem solid #833d04;
}

.button.button--default:hover,
button[type="submit"].button--default:hover {
  border-radius: 0;
  background-color: #833d04;
}

.button.button--block,
button[type="submit"].button--block {
  display: flex;
}

.form--search {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}

.card {
  padding: 2rem;
  border-radius: 0.4rem;
  margin: 2rem 0 0 2rem;
  border: 0.2rem solid #f5f5f5;
}

.owl-carousel .owl-dots {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #b2b2b2;
  transition: all 0.3s ease-out;
}

.owl-carousel .owl-dots .owl-dot.active {
  background-color: #833d04;
}

.owl-carousel .owl-dots .owl-dot:not(:last-child) {
  margin-right: 1.5rem;
}

@media screen and (min-width: 56.3125em) {
  .owl-carousel .owl-dots .owl-dot {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.form {
  background-color: #ffffff;
  height: 170vh;
  padding: 4rem 2rem;
}

.form__group {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.form__label {
  margin-bottom: 1rem;
  display: inline-block;
}

.form__label span {
  color: #842722;
}

.form__input {
  display: block;
  outline: none;
  width: 100%;
  padding: 2rem 6rem;
  background-color: transparent;
  font-size: 1.6rem;
  border: 0.1rem solid #f5f5f5;
  transition: all 0.3s ease-out;
}

.form__input:hover, .form__input:focus {
  background-color: #64bae3;
}

.form__input.is-invalid {
  border-color: #842722;
  animation: shake 0.25s ease-in-out forwards;
}

.form .remember-me {
  display: inline-block;
  width: 30px;
}

.form__textarea {
  resize: none;
  height: 20rem;
  font-family: inherit;
}

.form .error {
  color: #842722;
  font-size: 1.4rem;
  display: none;
}

@keyframes shake {
  50% {
    transform: translateX(1rem);
  }
  75% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  }
}

.hero {
  height: 100vh;
  overflow: hidden;
}

.hero__carousel {
  height: 100%;
  position: relative;
}

.hero__slide {
  height: 100vh;
  color: #f5f5f5;
  padding: 12rem 0 15rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero h1 {
  margin-bottom: 2rem;
}

.hero .sport-watch {
  background-image: linear-gradient(to right, rgba(0, 51, 145, 0.7), rgba(0, 51, 145, 0.7)), url("../images/cover-image1.png");
}

@media screen and (min-width: 34.5625em) {
  .hero .sport-watch {
    padding-top: 27rem;
  }
}

@media screen and (min-width: 56.3125em) {
  .hero .sport-watch {
    padding-top: 29rem;
  }
}

.hero .classic-watch {
  background-image: linear-gradient(to right, rgba(129, 30, 45, 0.7), rgba(129, 30, 45, 0.7)), url("../images/cover-image2.png");
}

@media screen and (min-width: 34.5625em) {
  .hero .classic-watch {
    padding-top: 27rem;
  }
}

@media screen and (min-width: 56.3125em) {
  .hero .classic-watch {
    padding-top: 29rem;
  }
}

.hero .smart-watch {
  background-image: linear-gradient(to right, rgba(30, 30, 31, 0.7), rgba(30, 30, 31, 0.7)), url("../images/cover-image3.png");
}

@media screen and (min-width: 34.5625em) {
  .hero .smart-watch {
    padding-top: 27rem;
  }
}

@media screen and (min-width: 56.3125em) {
  .hero .smart-watch {
    padding-top: 29rem;
  }
}

.details__icon {
  font-size: 5rem;
}

.details p {
  margin: 0.6rem 0 2rem;
}

.category__card {
  display: flex;
  align-items: center;
  border: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 35rem;
}

.category__card h2 {
  margin-bottom: 2rem;
  color: #f5f5f5;
}

.category .mens-category {
  background-image: linear-gradient(to right, #0a151f, rgba(10, 21, 31, 0.7)), url("../images/mens-watch.png");
}

.category .sport-category {
  background-image: linear-gradient(to right, #1e1e1f, rgba(30, 30, 31, 0.7)), url("../images/sport-watch.png");
}

.category .classic-category {
  background-image: linear-gradient(to right, rgba(10, 21, 31, 0.7), #0a151f), url("../images/classic-watch.png");
}

.category .womens-category {
  background-image: linear-gradient(to right, rgba(132, 39, 34, 0.7), #842722), url("../images/womens-watch.png");
}

.product-card {
  position: relative;
}

.product-card .card__header i {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

.product-card .card__header {
  height: 20rem;
}

@media screen and (min-width: 34.5625em) {
  .product-card .card__header {
    margin-bottom: 0rem;
  }
}

.product-card .card__header img {
  width: auto;
  margin: 0 auto;
}

.product-card .card__body {
  margin: 2rem 0;
}

.product-card .card__body h3 {
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 2rem;
}

.product-card .card__body .price {
  font-weight: 700;
  color: #ed701d;
}

.product-card .card__body .product-details {
  display: flex;
  justify-content: space-between;
}

.create-login {
  text-align: center;
}

.container-login1 {
  padding: 5px 10px;
  margin: 5px;
}

.container-login1 input[type=text], .container-login1 input[type=password] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0px;
  display: block;
  border: 1px solid #64bae3;
  box-sizing: border-box;
}

.container-login1 .login {
  padding: 5px 0 0 0;
}

.container-login1 .login a {
  background-color: #003391;
  color: white;
  padding: 6px 20px;
  margin: 5px 0px;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

.container-login1 .login a:hover {
  opacity: 0.8;
}

.remember-me {
  padding: 5px 0 0 0;
}

.container-login2 {
  text-align: center;
  margin: 4px;
  padding: 0px 8px;
}

.container-login2 .dhaa {
  margin-top: 5px;
}

.container-login2 .sign-up1 {
  margin-top: 5px;
}

.container-login2 .btd {
  margin-top: 5px;
}

.caa {
  text-align: center;
}

.container-register1 {
  padding: 5px 10px;
  margin: 5px;
}

.container-register1 input[type=text], .container-register1 input[type=text], .container-register1 input[type=text], .container-register1 input[type=password], .container-register1 input[type=password], .container-register1 input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: block;
  border: 1px solid #64bae3;
  box-sizing: border-box;
}

.container-register1 .gender {
  display: block;
  padding: 2px 0;
}

.container-register1 .register {
  padding: 5px 0 0 0;
}

.container-register1 .register a {
  background-color: #64bae3;
  color: white;
  padding: 6px 20px;
  margin: 5px 0px;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

.container-register1 .register a:hover {
  opacity: 0.8;
}

.container-register1 .remember-me {
  padding: 5px 0 0 0;
}

.container-register2 {
  text-align: center;
  margin: 4px;
  padding: 0px 8px;
}

.container-register2 .ahaa {
  margin-top: 5px;
}

.container-register2 .login1 {
  margin-top: 5px;
}

.container-register2 .btd {
  margin-top: 5px;
}
/*# sourceMappingURL=app.css.map */